export( getAtlasExperiment, getAtlasData, searchAtlasExperiments, getNormalisedAtlasExpression, heatmapAtlasExperiment, getAtlasSCExperiment, plotDimRedSCAtlasExperiment, searchSCAtlasExperiments, getAnalysticsDifferentialAtlasExpression, volcanoDifferentialAtlasExperiment, heatmapSCAtlasExperiment )
import( SummarizedExperiment, limma, methods, XML, xml2, BiocStyle, RCurl, HDF5Array, gplots, genefilter, RColorBrewer, edgeR, ggplot2, dplyr )
importClassesFrom( Biobase, ExpressionSet )
importFrom( S4Vectors, SimpleList, DataFrame, List, subset )
importFrom( httr, GET, status_code, content )
importFrom( utils, URLencode, download.file, read.table )
importFrom( jsonlite, fromJSON )
importFrom( zellkonverter, readH5AD )
importFrom( edgeR, cpm )
importFrom( HDF5Array, h5ls )
importFrom( ggplot2, ggplot, geom_point, theme_minimal, theme_grey, theme )
importFrom( grDevices, colorRampPalette, dev.off, pdf, rainbow )
importFrom( stats, setNames )
importFrom( ComplexHeatmap, Heatmap, rowAnnotation )
importFrom( SingleCellExperiment, mainExpName, reducedDimNames, reducedDim )
