export( getAtlasExperiment, getAtlasData, searchAtlasExperiments )
import( SummarizedExperiment, limma, methods, XML, xml2, BiocStyle, RCurl, rhdf5, HDF5Array )
importClassesFrom( Biobase, ExpressionSet )
importFrom( S4Vectors, SimpleList, DataFrame, List )
importFrom( httr, GET, status_code, content )
importFrom( utils, URLencode )
importFrom( jsonlite, fromJSON )
importFrom( zellkonverter, readH5AD )
